$padding: 20px;
$height: calc(100vh - #{$padding});

.screen {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    background-color: #020f2a;
    box-sizing: border-box;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 145px);
    gap: 10px;
    height: 100%;
    width: 85vw;
}

.card {
    border-radius: 6px;
    padding: 10px;
    background-color: #fff;
}

.name {
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}

.withTeamAssigned {
    font-size: 16px;
}

.assignedTeam {
    display: flex;
    align-items: center;
    // margin-left: 10px;
    font-size: 18px;
}

.flag {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 12px 20px 10px 0;
}

.teams {
    width: 15vw;
    height: 100%;
    background-color: #fff;
    margin: 0;
    border-radius: 6px;
    padding: 20px;
    padding-top: 0;

    ul {
        padding: 0;
        list-style: none;

        li {
            font-size: 18px;
            padding: 3px 10px;
            &:nth-child(16) {
                padding-bottom: 6px;
                border-bottom: 1px dashed grey;
            }
            &:nth-child(17) {
                padding-top: 6px;
            }
        }
    }
}

.selectedTeam {
    color: rgb(198, 198, 198);
}

.startButton {
    padding: 10px;
    background-color: transparent;
    border: none;

    img {
        height: 80px;
    }
}

.flipCard {
    // padding: 10px;
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    // transform: rotateY(180deg);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.drawnCard {
    @extend .flipCardInner;
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront,
.flipCardBack {
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipCardFront {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 0, 101);
    color: white;
    font-size: 32px;

    img {
        height: 80px;
    }
}

/* Style the back side */
.flipCardBack {
    padding: 20px;
    background-color: #fff;
    transform: rotateY(180deg);
}
